<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Gazort</title>
</head>
<body>
    <h1>About Gazort</h1>
    <p>Gazort was made by Chris McClure as a tribute to classic role-playing games both virtual and analog. Many of the characters encountered are references to classic tales of gaming, and if you're interested in the stories that inspired them, I recommend looking up "Eric and the Dread Gazebo" and "Sir Bearington", two short legends of tabletop gaming.</p>
    
    <p>It was made in about 2 days as an excercise in Express to practice back-end routing and server-deployed web pages (with EJS)</p>

    <p>Code can be found at https://github.com/cjmcclure1337/gazort</p>
    
    <br/>
    
    <a href="/crossroads">Return to the crossroads</a><br/>

    <p>Hall of Champions: </p>

    <%= winners %>

    <p>You are playing Gazort! <a href="/reset">Reset game</a></p>
</body>
</html>