<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Gazort</title>
</head>
<body>
    <h1>Create New User?</h1>
    <p>The user <%= name %> does not exist. Create new?</p>
    <br/>
    <a href="/signup">Yes! Let's begin a new adventure.</a> <br/>
    <a href="/">That's not right, go back to sign-in.</a>
    
</body>
</html>