<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Gazort</title>
</head>
<body>
    <h1>The Crossroads</h1>
    <p>You find yourself at a crossroads. Four paths appear before you:</p> <br/>
    <a href="/gate">I proceed North, to the Dreaded Garden, where my foe awaits!</a><br/>
    <a href="/forest">The Doomed Forest to the West looks as intriguing as it does mysterious</a><br/>
    <a href="/swamp">To the East lies the Damned Swamp. It looks miserable, but there's probably a quest item there or something, so what the hell.</a><br/>
    <a href="/exit">I return South, back toward my home and away from adventure</a><br/>

    <p>You are playing Gazort! <a href="/home">Reset game</a></p>
</body>
</html>