<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Gazort</title>
</head>
<body>
    <h1>Exit</h1>
    <p>Not in the mood for quests and heroism? You can go back if you want, but it's not very exciting.</p>

    <br/>

    <a href="/exit/quitter">I've made up my mind, adventuring isn't the life for me.</a><br/>
    <a href="/">Alright, I suppose we can have little adventure.</a><br/>

    <p>You are playing Gazort! <a href="/reset">Reset game</a></p>
</body>
</html>