<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Gazort</title>
</head>
<body>
    <h1>The Forest</h1>
    <% if (!fire) { %> 
        <p>The path into the forest is not especially well traveled, and in only a few steps you find yourself pushing through brambles to move forward. After some tiring work and a few minor scratches, you find yourself at a clearing.</p> 
        <p>In front of you is a small camp with a modest fire. Two men sit nearby - a large, well-armored knight, and a younger man who looks to be his squire.</p> 
        <% if (!met_knight) { %>
            <p>The knight grumbles something in a language you don't understand, and his squire translates: "Well met, outlander. Sir Bearington and I were just settling down for a meal. Perhaps you'll join us?"</p>
        <% } else { %>
            <% if (location === "forest") { %> 
                <p>Sir Bearington and his squire are quiet for a moment, gazing into the campfire.</p>
            <% } else { %>
                <p>Sir Bearington grumbles a welcome, and his squire translates: "Welcome back, outlander. How goes your quest?" </p> 
            <% } %>
        <% } %>
    <% } else { %>
        <p>The path to Sir Bearington's camp is much easier now that all of the brambles have been burned away. It doesn't take you long at all to find yourself face-to-face with the knight and his squire once again. They look annoyed.</p> 
    <% } %>

    <br/>

    <% if (!has_key) { %> 
        <a href="/forest/talk?answer=riddle">"Thank you for the offer, but I am on a glorious quest! Perhaps you know something of the beast I hunt?"</a><br/>
    <% } %>

    <% if (!has_torch) { %> 
        <a href="/forest/cook?stage=hungry">"What a generous offer! My journey has been long, and a meal would be most appreciated."</a><br/>
    <% } %>

    <a href="/crossroads">"Thank you for your hospitality, but my quest awaits"</a><br/>

    <p>You are playing Gazort! <a href="/reset">Reset game</a></p>
</body>
</html>