<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Gazort</title>
</head>
<body>
    <h1>The Sleeping Beast</h1>
    <p>At the top of a small hill you see the beast - the Dread Gazebo lies before you in slumber. </p> <br/>
    <p>No one can help you. You must face the Gazebo alone. </p> <br/>

    <a href="/fight">I fear no creature. I attack!</a><br/>
    <a href="/">Egads that is a might beast! Perhaps I should go back and prepare further...</a><br/>
    
    

    <p>You are playing Gazort! <a href="/home">Reset game</a></p>
</body>
</html>