<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Gazort</title>
</head>
<body>
    <h1>The Swamp</h1>
    <p>The path into the swamp is full of twisted trees and murky depths. You hear strange sounds coming from all around you, but see no signs of life.</p>
    <p>After a while of travelling, you see a shape beginning to form in the darkness - there is a cabin sitting in a clearing. No light comes from within, and the door is slightly ajar.</p>

    <br/>

    <a href="/swamp/cabin">Perhaps the cabin holds something of use. I should explore.</a><br/>
    <a href="/crossroads">Too spooky for me, I'm going back.</a><br/>

    <p>You are playing Gazort! <a href="/reset">Reset game</a></p>
    <p>Logged in as: <%= user %></p>
</body>
</html>