@font-face {
    font-family: lunchtimeds;
    src: url(lunchds.ttf);
}

body {
    background-color:black;
    color: white;
    font-family: lunchtimeds;
    font-size: 130%;
}

a {
    line-height: 130%;
    text-decoration: none;
}

a:visited {
    color:blueviolet;
}
